body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#locationWrap,
#calendarWrap {
  text-align: center;
  min-width: 240px;
  width: 50%;
  max-width: 400px;
  margin: 10px auto 0;
  border: 1px solid #333;
  border-radius: 2px;
}

#currentLocation,
#currentDate {
  position: relative;
  padding: 5px 15px;
  cursor: pointer;
}

#currentLocation::before,
#currentDate::before {
  position: absolute;
  top: 11.5px;
  right: 6px;
  content: "\03e";
  display: block;
  transform: rotate(90deg);
}

#locationWrap #selectLocation p {
  margin-bottom: 10px;
}

#locationWrap #selectLocation,
#calendarWrap #selectDate {
  position: relative;
  height: 0;
  overflow-y: auto;
  transition: height 0.3s;
}

#calendarWrap.active #selectDate {
  height: auto;
}

#selectLocation::before,
#selectDate::before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #999;
  margin: 10px auto;
}

.day-of-week ul,
.dates ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5% 5% 5%;
}

.day-of-week ul li,
.dates ul li {
  width: calc(100% / 7);
}

#resultBtn {
  display: block;
  min-width: 240px;
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  font-weight: bold;
  font-size: var(--txt-regular);
}

#resultBtn {
  margin: 10px auto 0;
  border: 1px solid #333;
  border-radius: 2px;
  background-color: #d1ffcb;
}

#currentLocation:hover,
#currentDate:hover,
#resultBtn:hover {
  opacity: 0.7;
}

#selectLocation p:hover,
#selectDate .dates li:hover {
  cursor: pointer;
  background-color: #d1ffcb;
}

.san {
  color: red;
}

.sat {
  color: blue;
}

.prev,
.next {
  padding: 0 8px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  opacity: 0.7;
}